{% extends "mainApp/base.html" %}

{% block title %}Register in Tutoria{% endblock %}


{% block alt_menu %}

  <div class="ui container">
   <div class="header item">
    Please Register first
  </div>
  </div>
 {% endblock %}
 
{% block content %}
<div class="ui segment">
	 {% if message %}
  <div class="ui negative message">
  <div class="header">
    {{message}}
  </div>
  </div>
	  {% endif %}
<form class="form ui" method="post" action="./register" enctype="multipart/form-data">{% csrf_token %}
	
	<h4 class="ui dividing header">Personal Information</h4>
  
	<div class="fields">
    <div class="ten wide field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name" required>
    </div>
    <div class="ten wide field">
      <label>Username</label>
      <input type="text" name="username"  placeholder="User Name" required>
    </div>
	</div>
	
	<div class="fields">
    <div class="twelve wide field">
      <label>E-mail</label>
      <input type="email" name="email" placeholder="E-mail" required>
    </div>
    <div class="eight wide field">
      <label>Password</label>
      <input type="password" name="password"  placeholder="Password" required minlength=8>
    </div>
	</div>
	
	<div class="fields">
    <div class="eight wide field">
      <label>Phone Number</label>
      <input type="text" name="phone" placeholder="Phone number" required>
    </div>
    <div class="twelve wide field">
      <label>Pick image as your icon</label>
      <input type="file" name="myImage" accept="image/*" required/>
    </div>
	</div>
	
	<div class="field">
	
    <div class="ui slider checkbox tut_cb">
      <input type="checkbox" name="role" onclick='alert("sd'>
      <label>I would also like to be a tutor!</label>
    </div>
	</div>
	
    <h4 class="ui dividing header">Additional information for tutor</h4>
	<div class="fields">
    <div class="ten wide field">
      <label>University</label>
      <input class="tutor" type="text" name="uni" placeholder="University" >
    </div>
    <div class="ten wide field">
      <label>Tag your Profile using '#' (seperated by ;)</label>
      <input class="tutor" type="text" name="tag" placeholder="e.g. #Tags;#Tutoria" pattern="(#.+)+" >
    </div>
	</div>
	
      <div class="inline fields tutor">
    <label>What type of tutor are you ?</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="type" checked="checked" value="c">
        <label>Contract</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="type" value="p">
        <label>Private</label>
      </div>
    </div>
		</div>
	
	<div class="fields">    
	<div class="ten wide field">
      <label>Hourly Rate (0 if you are contract tutor)</label>
      <input class="tutor" type="number" name="hourlyRate" pattern="[0-9]" placeholder="Hourly Rate" >
    </div>
	
	
<div class="ten wide field">	
	<label>Subect code</label>
<select name="subject" multiple="" class="ui fluid dropdown tutor" >
<option value="">Subject you are teaching</option>
	{% for code in subject_list %}
<option value="{{code.subject_code}}">{{code.subject_code}}</option>
	{% endfor %}
</select>
</div>
	</div>
	<div class="field">    
      <label>Personal Description</label>
      <input class="tutor " type="text" name="description" placeholder="Descript yourself">
    </div>
<button class="ui fluid large teal submit button" type="submit">Submit</button>
	
	</form>
	
	</div>
<script>
$('.ui.dropdown').dropdown();
$('.tutor').addClass("disabled").attr("disabled","disabled");
$('.ui.checkbox.tut_cb').checkbox({
onChecked: function() {
		
      $('.tutor').attr("required",true).removeClass("disabled").removeAttr("disabled");
    },
    onUnchecked: function() {
      $('.tutor').removeAttr("required").addClass("disabled").attr("disabled","disabled");
    }});

</script>
 
{% endblock  %}