{% extends "mainApp/base.html" %}

{% block title %}cancelSession{% endblock %}

{% block content %}
<center>
	<h3>Session ID: <p>{{this_session}}</p></h3>
	<h3>Tutor: <p>{{session_tutor_ID}}</p></h3>
	<form class="ui form" action="viewUpcomingSessions" method="get">
		<div class="field">
			<div class="ui checkbox">
				<input type="checkbox" name="YesNo" tabindex="0">
				<label>Are you sure you want to cancel this Session at <p>{{session_time}}?</p></label>
			</div>
		</div>
		<button class="ui button" type="submit">Submit</button>
	</form>
</center>
{% endblock %}