{% extends "mainApp/base.html" %}

{% block title %}findTutors{% endblock %}

{% block content %}

<div class="ui centered grid">
	<div class="ten wide column">
		<table class="ui table">
			<tr>
				<td>
					<p>{{message}}</p>
					<p><a href="./detailedProfile?tutorsID={{tutor.id}}"">Click or redirect automatically in 3 seconds...</a></p>
				</td>
			</tr>
		</table>
	</div>
</div>

<script>
setTimeout(function(){
	var link = "./detailedProfile?tutorsID=" + "{{tutor.id}}";
	window.location = link;
}, 3000);

</script>

{% endblock %}