{% extends "mainApp/base.html" %}

{% block title %}findTutors{% endblock %}

{% block content %}
<div class="ui segment">
<form class="ui form" action="tutorsList" method="get">
  <div class="field">
    <label>University</label>
    <input type="text" name="university" placeholder="University Name">
  </div>
  <div class="field">
    <label>Sort By</label>
    <select name="course">
      <option value="">Choose Subject Code</option>
      {% for code in subject_list %}
      <option value="{{code.subject_code}}">{{code.subject_code}}</option>
      {% endfor %}
    </select>
  <div class="field">
    <label>Subject tag</label>
    <input type="text" name="tag" placeholder="Subject Tags">
  </div>
  <div class="field">
    <label>Hourly rate higher than</label>
    <input type="number" name="lprice" placeholder="Lowest Hourly Rate">
  </div>
  <div class="field">
    <label>Hourly rate lower than</label>
    <input type="number" name="hprice" placeholder="Hightest Hourly Rate">
  </div>
  <div class="field">
    <label>Contract Type</label>
    <select name="type">
      <option value="b">Both</option>
      <option value="c">Contract</option>
      <option value="p">Private</option>
    </select>
  </div>
  <div class="field">
    <label>Sort By</label>
    <select name="sort">
      <option value="AscP">Ascending Hourly Rate</option>
      <option value="DscP">Descending Hourly Rate</option>
      <option value="AscS">Ascending Rating</option>
      <option value="DscS">Descending Rating</option>
    </select>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="crit" tabindex="0">
      <label>Only show tutors with available timeslots</label>
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
  </div>
{% endblock %}

