{% extends "mainApp/base.html" %}

{% block title %}Login{% endblock %}

{% block alt_menu %}
  <div class="ui container">
   <div class="header  item">
    Please Log in{{Request.user}}
  </div>
    </div>

 {% endblock %}
 
{% block content %}
<div class="ui container segment">
<form class="ui form" action="./login" method="POST">{% csrf_token %}
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>

  <button class="ui button" type="submit">Submit</button>
</form>
</div class="ui container">

{% endblock %}