{% extends "mainApp/base.html" %}

{% block title %}Retrieve your password{% endblock %}

{% block alt_menu %}
  <div class="ui container">
   <div class="header  item">
    Retrieve your password
  </div>
  </div>

 {% endblock %}
 
{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
	  {% if message %}
  <div class="ui negative message">
  <div class="header">
    {{message}}
  </div>
  </div>
	  {% endif %}
    <h2 class="ui teal image header">
      <div class="content">
        Type in your email and new password twice
      </div>
    </h2>
    <form class="ui large form" action="" method="post">{% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username here">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
		  <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password1" placeholder="Password(again)">
          </div>
        </div>
        <button class="ui fluid large teal submit button" type="submit">Submit</button>
      </div>
      <div class="ui error message"></div>
    </form>

  </div>
</div>

{% endblock %}

