{% extends "mainApp/base.html" %}

{% block title %}viewUpcomingSessions{% endblock %}
{% block content %}
<h2>{{this_student}}'s Upcoming Sessions</h2>
{% if student_sessions %}
<table cellspacing="20" class="ui celled table">
	<tr>
		<th>
			Session Start Time
		</th>
		<th>
			Session Duration
		</th>
		<th>
			Session ID
		</th>
		<th>
			Session State
		</th>
		<th>
			Tutor
		</th>
	</tr>
	{% for session in student_sessions %}
	<tr>
		<td>
			<p>{{session.session_datetime}}</p>
		</td>
		
		<td>
			<p>{% if session.session_tutor.tutor_type == 'Contract' %}30 minutes {% else %} 1 hour {% endif %}</p>
		</td>
		<td>
			<p>{{session.id}}</p>
		</td>
		<td>
			<p>{{session.state}}</p>
		</td>
		<td>
			<p>{{session.session_tutor}}</p>
		</td>
		<td>
			<a href="cancelSession/{{session.id}}">Cancel Session</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
	<p>No sessions currently booked</p>
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
