{% extends "mainApp/base.html" %}

{% block title %}View Transaction History{% endblock %}
{% block content %}
<h2>{{student}}'s Transaction History</h2>
{% if transactions %}
<table cellspacing="20" class="ui celled table">
	<tr>
		<th>
			Transaction Date:
		</th>
		<th>
			Transaction type:
		</th>
		<th>
			Amount:
		</th>
		<th>
			State:
		</th>
		<th>
			Paid from:
		</th>
		<th>
			Paid to:
		</th>
	</tr>
	{% for trans in transaction %}
	<tr>
		<td>
			<p>{{trans.create_date}}</p>
		</td>
		<td>
			{% if trans.session %}<p>Session payment</p>
			{% else %}<p>Deposit/Withdrawl</p>{% endif %}
		</td>
		<td>
			<p>{{trans.amount}}</p>
		</td>
		<td>
			<p>{{trans.state}}</p>
		</td>
		<td>
			<p>{{trans.payment_tutor}}</p>
		</td>
		<td>
			<p>{{trans.payment_student}}</p>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
	<p>No transactions record</p>
{% endif %}
{% endblock %}
