{% extends "mainApp/base.html" %}

{% block title %}viewUpcomingSessions{% endblock %}

{% block content %}
<h2>Upcoming Sessions</h2>
<table cellspacing="20">
	<tr>
		<th>
			Session Date
		</th>
		<th>
			Session State
		</th>
		<th>
			Tutor Key
		</th>
	</tr>
{% for session in all_sessions %}
	<tr>
		<td>
			<p>{{session.session_datetime}}</p>
		</td>
		<td>
			<p>{{session.state}}</p>
		</td>
		<td>
			<p>{{session.session_tutor}}</p>
		</td>
		<td>
			<a href="./cancelSession?{{session.id}}">Cancel</a>
		</td>
	</tr>
{$ endfor $}
</table>
{$ endblock $}